com.unnsvc.rhena.lifecycle/src/main/resources/META-INF/rhena/schema/context.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:rhena:module" xmlns:tns="urn:rhena:module" elementFormDefault="qualified">

	<xs:complexType name="resourceType">
		<xs:attribute name="source" type="xs:string" use="required" />
		<xs:attribute name="target" type="xs:string" use="required" />
		<xs:attribute name="staged" use="optional">
			<xs:simpleType>
				<xs:restriction>
					<xs:enumeration value="true" />
					<xs:enumeration value="false" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="executionType">
		<xs:sequence>
			<xs:element name="resource" type="tns:resourceType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="resourcesType">
		<xs:sequence>
			<xs:element name="deliverable" type="tns:executionType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="context">
		<xs:complexType>
			<xs:sequence>
				<element name="resources" type="tns:resourcesType" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:anyAttribute />
		</xs:complexType>
	</xs:element>

</xs:schema>