com.unnsvc.rhena.core/src/main/resources/META-INF/schema/dependency.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:rhena:dependency" xmlns:tns="urn:rhena:dependency" xmlns:common="urn:rhena:common"
	elementFormDefault="qualified">

	<xs:import namespace="urn:rhena:common" schemaLocation="http://schema.unnsvc.com/rhena/common.xsd" />

	<xs:complexType name="dependencyType">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="module" type="common:qualifiedIdentifier" use="required" />
	</xs:complexType>

	<xs:group name="dependencyTypes">
		<xs:sequence>
			<xs:element name="compile" type="tns:dependencyType" />
			<xs:element name="test" type="tns:dependencyType" />
			<xs:element name="itest" type="tns:dependencyType" />
		</xs:sequence>
	</xs:group>

</xs:schema>
