com.unnsvc.rhena.core/src/main/resources/META-INF/schema/dependency.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:rhena:dependency" xmlns:tns="urn:rhena:dependency" xmlns:common="urn:rhena:common"
	elementFormDefault="qualified">

	<xs:import namespace="urn:rhena:common" schemaLocation="./common.xsd" />

	<xs:simpleType name="traverseType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none">
				<xs:annotation>
					<xs:documentation>
						The default for all except for "deliverable", which is compile by default
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="scope">
				<xs:annotation>
					<xs:documentation>
						Will pull all dependencies it can access from the scope
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="component">
				<xs:annotation>
					<xs:documentation>
						Pull dependencies which are in the same component as the pulled dependency
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="direct">
				<xs:annotation>
					<xs:documentation>
						Will pull dependencies of this dependency
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="dependencyType">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="module" type="common:qualifiedIdentifier" use="required" />
		<xs:attribute name="traverse" type="tns:traverseType" use="optional" />
	</xs:complexType>

	<xs:group name="dependencyTypes">
		<xs:sequence>
			<xs:element name="main" type="tns:dependencyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						The deliverable scope is for artifacts belonging to the final product of the project. The deliverable scope is transitive by default
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="main_source" type="tns:dependencyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						The main source
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="test" type="tns:dependencyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						The test scope is for unit testing
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="test_source" type="tns:dependencyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						The test source
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>

</xs:schema>
