com.unnsvc.rhena.core/src/main/resources/META-INF/schema/execution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:rhena:execution" xmlns:tns="urn:rhena:execution" xmlns:common="urn:rhena:common"
	elementFormDefault="qualified">

	<xs:import namespace="urn:rhena:common" schemaLocation="./common.xsd" />

	<xs:complexType name="artifactType">
		<xs:sequence>

		</xs:sequence>
		<xs:attribute name="tag" type="xs:string" use="required" />
		<xs:attribute name="file" type="xs:string" use="required" />
		<xs:attribute name="sha1" type="xs:string" use="required" />
	</xs:complexType>

	<xs:element name="execution">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="artifact" type="tns:artifactType" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="default" type="xs:string" />
		</xs:complexType>
	</xs:element>

</xs:schema>