example-workspace/component1.module1/executions.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:rhena:dependency" xmlns:tns="urn:rhena:dependency" xmlns:common="urn:rhena:common"
	elementFormDefault="qualified">

	<!-- schemaLocation="common.xsd"  -->
	<xs:import namespace="urn:rhena:common" schemaLocation="http://schema.unnsvc.com/rhena/common.xsd" />

	<xs:element name="compile" type="common:dependencyType" />
	<xs:element name="test" type="common:dependencyType" />
	<xs:element name="itest" type="common:dependencyType" />

</xs:schema>
